<html>
  <head></head>
  <body>
    Yo 👋
    <br />
    <br />
    Thank you for registering in our app.<br />
    Click on the link to confirm your account.<br />
    <br />
    <!-- TODO link -->
    <a href='{{link}}'>confirm email</a>.
  </body>
</html>