<h1 nz-typography>Login</h1>

<nz-alert
	*ngIf="authFacade.loginError$ | async as errorMessage"
	nzType="error"
	[nzMessage]="errorMessage"
	nzShowIcon
>
</nz-alert>

<form nz-form [formGroup]="form" (ngSubmit)="login()">
	<nz-form-item>
		<nz-form-label [nzSpan]="24" nzFor="email">E-mail</nz-form-label>
		<nz-form-control nzHasFeedback [nzErrorTip]="emailErrorTpl">
			<nz-input-group nzPrefixIcon="mail">
				<input
					nz-input
					id="email"
					type="email"
					formControlName="email"
					placeholder="Input your e-mail"
				/>
			</nz-input-group>
		</nz-form-control>
		<ng-template #emailErrorTpl let-control>
			<ng-container *ngIf="control.hasError('required')">
				Please input your E-mail!
			</ng-container>
			<ng-container *ngIf="control.hasError('email')">
				The input is not valid E-mail!
			</ng-container>
		</ng-template>
	</nz-form-item>

	<nz-form-item>
		<nz-form-label [nzSpan]="24" nzFor="password">Password</nz-form-label>
		<nz-form-control [nzErrorTip]="passwordErrorTpl">
			<nz-input-group nzPrefixIcon="lock" [nzSuffix]="togglePasswordVisibilityTpl">
				<input
					nz-input
					formControlName="password"
					id="password"
					class="password-input"
					placeholder="Input your password"
					[type]="passwordVisible ? 'text' : 'password'"
				/>
				<ng-template #togglePasswordVisibilityTpl>
					<i
						nz-icon
						[nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
						(click)="passwordVisible = !passwordVisible"
					></i>
				</ng-template>
			</nz-input-group>
		</nz-form-control>
		<ng-template #passwordErrorTpl let-control>
			<ng-container *ngIf="control.hasError('required')">
				Please input your Password!
			</ng-container>
		</ng-template>
	</nz-form-item>

	<nz-form-item>
		<nz-form-control>
			<div nz-row class="remember-me">
				<div nz-col [nzSpan]="12">
					<label nz-checkbox formControlName="rememberMe">
						<span>Remember me</span>
					</label>
				</div>
				<div nz-col [nzSpan]="12">
					<a class="login-form-forgot">Forgot password</a>
				</div>
			</div>

			<button
				nz-button
				nzBlock
				class="submit-button"
				nzType="primary"
				[nzLoading]="authFacade.isLogIn$ | async"
			>
				Log in
			</button>
			<span>Dont haven`t an account yet? <a [routerLink]="['../register']">Register</a></span>
		</nz-form-control>
	</nz-form-item>
</form>

<ng-container
	*mfeOutlet="
		'client-dashboard-mfe/entry';
		inputs: { text: text$ | async };
		outputs: { click: onClick };
		loader: loader
	"
>
</ng-container>

<ng-template #loader>
	<div>loading...</div>
</ng-template>

<ng-container *mfeOutlet="'client-dashboard-mfe/entry'"></ng-container>

<!-- <ng-container *mfeOutlet="'client-fallbacks-mfe/mfe-fallback'; loaderDelay: 0"></ng-container>
<ng-container *mfeOutlet="'client-fallbacks-mfe/mfe-fallback'; loaderDelay: 20000"></ng-container> -->

<p>Not existend MFE 'aaaa/bbb':</p>
<ng-container *mfeOutlet="'aaaa/bbb'"></ng-container>

<p>Not existend MFE 2 'aaaa/bbb':</p>
<ng-container *mfeOutlet="'aaaa/bbb'"></ng-container>
