@use 'libs/client/styles/src/lib/utilities/convert' as *;
@use 'libs/client/styles/src/lib/utilities/bemify' as *;
@use '@carbon/layout';

.illustration {
	// background-image: url(/assets/svg/login.svg);
	// background-size: contain;
	background-image: url(/assets/illustrations/illustration-4.png);
	background-position: bottom;
	background-repeat: no-repeat;
}

:host-context(.dark-theme) {
	.illustration {
		// background-image: url(/assets/svg/login.svg);
		background-image: url(/assets/illustrations/illustration-8.png);
		background-position: bottom;
		background-repeat: no-repeat;
		background-size: contain;
		opacity: 0.5;
	}
}

.form {
	min-height: 100vh;
}

.input-wrapper {
	flex: 1;

	.bx--text-input {
		padding-right: rem(40px);
	}

	.input__suffix {
		position: absolute;
		right: 0;
		bottom: 0;
		background-color: transparent;
	}
}

@include block(card) {
	@include element(header) {
		margin-bottom: layout.$spacing-08;
	}

	@include element(title) {
		margin-bottom: layout.$spacing-02;
	}

	@include element(footer) {
		margin-top: rem(16px);
	}
}

.divider {
	border-bottom: 1px solid #8d8d8d;
	margin-bottom: layout.$spacing-05;
	display: block;
}

.next-button {
	width: 100%;
	margin-bottom: layout.$spacing-06;
}

.session-checkbox {
	display: flex;
	margin-bottom: layout.$spacing-08;
}
