nz-alert {
	position: absolute;
	width: 320px;
}

form {
	width: 320px;
	margin-top: 5rem;
}

.remember-me {
	flex: 1;
	margin: 1.25rem 0 0.5rem;
}

.login-form-forgot {
	float: right;
}

.submit-button {
	margin-bottom: 0.5rem;
}

nz-input-group::ng-deep {
	input.password-input + span[type='suffix'] {
		cursor: pointer;
		user-select: none;
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
	}
}
