<div ibmGrid>
	<div ibmRow>
		<div
			ibmCol
			[offsets]="{ sm: 0, md: 0, lg: 0 }"
			[columnNumbers]="{ sm: 0, md: 0, lg: 7 }"
			class="illustration"
		></div>
		<div
			ibmCol
			[offsets]="{ sm: 0, md: 0, lg: 1 }"
			[columnNumbers]="{ sm: 4, md: 8, lg: 4 }"
			class="log-in"
		>
			<div class="illustration illustration--inline"></div>

			<div class="log-in__wrapper">
				<div
					*ngIf="(logInStep$ | async) === 0"
					[@slideLeft]="(logInStep$ | async) === 0 ? 'in' : 'out'"
					class="log-in__email-section"
				>
					<ui-card theme="light">
						<ui-card-header>
							<ui-card-title> Log In </ui-card-title>
							<ui-card-subtitle>
								Don't have an account?&nbsp;
								<a ibmLink [routerLink]="['../register']"> Create an Account </a>
							</ui-card-subtitle>
						</ui-card-header>
						<ui-card-content>
							<ui-divider></ui-divider>
							<form [formGroup]="form" (submit)="forwardToPassword()">
								<ng-container *ngIf="emailControl as control">
									<ibm-label
										labelState="success"
										labelInputID="email"
										[invalid]="control.touched && control.invalid"
										[invalidText]="invalidText"
									>
										<p class="label-content">
											<span>Continue with email</span>
											<!-- TODO добавить функционал по востановлению пароля как на бэке так и на клиенте -->
											<!-- <a
                        ibmLink
                        [routerLink]="['../register']"
                      >
                        Forgot email?
                      </a> -->
										</p>
										<input
											#emailInput
											ibmText
											id="email"
											type="email"
											formControlName="email"
											placeholder="Input email"
											[invalid]="control.touched && control.invalid"
										/>
										<ng-template #invalidText>
											<ng-container
												*ngIf="
													control.touched && control.hasError('required')
												"
											>
												Email is required
											</ng-container>
											<ng-container *ngIf="control.hasError('email')">
												Enter a valid email address
											</ng-container>
										</ng-template>
									</ibm-label>
								</ng-container>

								<ng-container *ngIf="form.get('session') as control">
									<ibm-checkbox
										formControlName="session"
										class="session-checkbox"
									>
										<span>Do not remember</span>
										<ibm-tooltip-icon
											alignment="center"
											content="Session will be cleared when the browser is closed"
										>
											<svg ibmIcon="information" size="16"></svg>
										</ibm-tooltip-icon>
									</ibm-checkbox>
								</ng-container>

								<ibm-notification
									*ngIf="loginFacade.logInError$ | async as error"
									[notificationObj]="{
										type: 'error',
										title: 'Error:',
										message: error
									}"
									(close)="loginFacade.resetLogInError()"
								>
								</ibm-notification>
							</form>
						</ui-card-content>
						<ui-card-footer>
							<button ibmButton="primary" (click)="forwardToPassword()">
								Continue
								<svg class="bx--btn__icon" ibmIcon="arrow--right" size="16"></svg>
							</button>
						</ui-card-footer>
					</ui-card>
					<ng-container *ngTemplateOutlet="help"></ng-container>
				</div>

				<div
					*ngIf="(logInStep$ | async) === 1"
					[@slideRight]="(logInStep$ | async) === 1 ? 'in' : 'out'"
					class="log-in__password-section"
				>
					<ui-card theme="light">
						<ui-card-header>
							<ui-card-title> Log In </ui-card-title>
							<ui-card-subtitle>
								Logging in as {{ emailControl?.value }}&nbsp;
								<a ibmLink (click)="backToEmail()"> Not you? </a>
							</ui-card-subtitle>
						</ui-card-header>
						<ui-card-content>
							<ui-divider></ui-divider>
							<form [formGroup]="form" (submit)="logIn()">
								<ng-container *ngIf="passwordControl as control">
									<ibm-label
										labelInputID="password"
										[invalid]="control.touched && control.invalid"
										[invalidText]="invalidText"
									>
										Password
										<div uiPasswordInputWrapper>
											<ui-password-input
												#passwordInput
												id="password"
												formControlName="password"
												placeholder="Input password"
												[invalid]="control.touched && control.invalid"
											>
											</ui-password-input>
										</div>
										<ng-template #invalidText>
											<ng-container
												*ngIf="
													control.touched && control?.hasError('required')
												"
											>
												Password is required
											</ng-container>
										</ng-template>
									</ibm-label>
								</ng-container>
							</form>
						</ui-card-content>
						<ui-card-footer>
							<button
								ibmButton="primary"
								[disabled]="loginFacade.isLogIn$ | async"
								(click)="logIn()"
							>
								Log in
								<svg
									*ngIf="!(loginFacade.isLogIn$ | async); else loading"
									class="bx--btn__icon"
									ibmIcon="arrow--right"
									size="16"
								></svg>
								<ng-template #loading>
									<ibm-loading class="bx--btn__icon" size="sm"></ibm-loading>
								</ng-template>
							</button>
						</ui-card-footer>
					</ui-card>
					<ng-container *ngTemplateOutlet="help"></ng-container>
				</div>

				<ng-template #help>
					<p class="help">
						Need help?
						<a ibmLink href="mailto:therealpanda98@gmail.com?subject=I have problem">
							Contant me
						</a>
					</p>
				</ng-template>
			</div>
		</div>
	</div>
</div>

<!-- TODO удалить тестовые данные -->

<!-- <ng-template
  mfeOutlet="client-dashboard-mfe"
  mfeOutletModule="EntryModule"
  mfeOutletComponent="EntryComponent"
  [mfeOutletInputs]="{ text: text$ | async }"
  [mfeOutletOutputs]="{ click: onClick }"
></ng-template>

<ng-template
  mfeOutlet="client-dashboard-mfe"
  mfeOutletModule="EntryModule"
  mfeOutletComponent="EntryComponent"
  [mfeOutletLoader]="loaderRef"
></ng-template>

<ng-template #loaderRef>
  <div style="display: flex; flex: 1; justify-content: center;">loading...</div>
</ng-template>

<ng-template
	mfeOutlet="client-dashboard-mfe"
	mfeOutletModule="EntryModule"
	mfeOutletComponent="EntryComponent"
	[mfeOutletLoader]="loaderMfe"
	[mfeOutletLoaderDelay]="1000"
></ng-template>

<ng-template #loaderMfe>
	<ng-template
		mfeOutlet="client-loaders-mfe"
		mfeOutletModule="SpinnerModule"
		mfeOutletComponent="SpinnerComponent"
		[mfeOutletLoader]="undefined"
		[mfeOutletLoaderDelay]="0"
	>
	</ng-template>
</ng-template>

<ng-template
  mfeOutlet="client-dashboard-mfe"
  mfeOutletModule="EntryModule"
  mfeOutletComponent="EntryComponent"
></ng-template> -->

<!-- <ng-template
  mfeOutlet="client-fallbacks-mfe"
  mfeOutletComponent="MfeFallbackComponent"
  [mfeOutletLoaderDelay]="0"
></ng-template>

<ng-template
  mfeOutlet="client-fallbacks-mfe"
  mfeOutletComponent="MfeFallbackComponent"
  [mfeOutletLoaderDelay]="5000"
></ng-template> -->

<!-- <p>Not existend MFE 'aaaa/bbb':</p>
<ng-template
  mfeOutlet="not-existing-app"
  mfeOutletModule="EntryModule"
  mfeOutletComponent="EntryComponent"
></ng-template> -->
