<nz-alert
	*ngIf="(isLoggedIn$ | async) && loginForm.submitted"
	nzType="success"
	nzMessage="User successfully logged in"
	nzShowIcon
></nz-alert>

<nz-alert
	*ngIf="!(isLoggedIn$ | async) && loginForm.submitted"
	nzType="error"
	nzMessage="You input incorrect data, please try again"
	nzShowIcon
></nz-alert>

<form #loginForm="ngForm" nz-form class="login-form" [formGroup]="form" (ngSubmit)="login()">
	<nz-form-item>
		<nz-form-control nzHasFeedback [nzErrorTip]="emailErrorTpl">
			<nz-input-group nzPrefixIcon="user">
				<input type="text" nz-input formControlName="email" placeholder="Email" />
			</nz-input-group>
		</nz-form-control>
		<ng-template #emailErrorTpl let-control>
			<ng-container *ngIf="control.hasError('required')"
				>Please input your E-mail!</ng-container
			>
			<ng-container *ngIf="control.hasError('email')"
				>The input is not valid E-mail!</ng-container
			>
		</ng-template>
	</nz-form-item>
	<nz-form-item>
		<nz-form-control nzHasFeedback [nzErrorTip]="passwordErrorTpl">
			<nz-input-group nzPrefixIcon="lock">
				<input type="password" nz-input formControlName="password" placeholder="Password" />
			</nz-input-group>
		</nz-form-control>
		<ng-template #passwordErrorTpl let-control>
			<ng-container *ngIf="control.hasError('required')"
				>Please input your Password!</ng-container
			>
			<ng-container *ngIf="control.hasError('minlength')"
				>Password should contain at least
				{{ control.errors.minlength.requiredLength }} characters</ng-container
			>
		</ng-template>
	</nz-form-item>
	<div nz-row class="login-form-margin">
		<div nz-col [nzSpan]="12">
			<label nz-checkbox formControlName="rememberMe">
				<span>Remember me</span>
			</label>
		</div>
		<div nz-col [nzSpan]="12">
			<a class="login-form-forgot">Forgot password</a>
		</div>
	</div>
	<button nz-button nzBlock class="login-form-margin" nzType="primary">Log in</button>
	Or
	<a>register now!</a>
</form>
